{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% for categorie in categories %}
        <li>{{ categorie.libelle }}</li>
    {% endfor %}
            This friendly message is coming from:

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('app_logout') }}">SE DECONNECTER</a>
        {% endif %}
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/symfony/tp-skeleton/src/Controller/CategorieController.php'|file_link(0) }}">src/Controller/CategorieController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/symfony/tp-skeleton/templates/categorie/index.html.twig'|file_link(0) }}">templates/categorie/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
